*.o
*.a
*.so
*.so.*
*.dylib
*.la
*.lo

main/ipfs
test/test_ipfs
test/scripts/generate_file

nostril/libsecp256k1.a
nostril/configurator
nostril/configurator.out*
nostril/config.h
nostril/nostril

c-libp2p/libp2p.a
c-libp2p/libp2p.so
c-libp2p/libp2p.dylib

lmdb/libraries/liblmdb/*.o
lmdb/libraries/liblmdb/*.so
lmdb/libraries/liblmdb/*.so.*
