[submodule "c-libp2p"]
	path = c-libp2p
	url = https://github.com/RandyMcMillan/c-libp2p.git
[submodule "lmdb"]
	path = lmdb
	url = https://github.com/RandyMcMillan/lmdb.git
	branch = mdb.master
[submodule "nostril"]
	path = nostril
	url = https://github.com/RandyMcMillan/nostril.git
