*

!.gitignore
!.github/
!Makefile
!**/

!nostr/**
!rbsr/**
!scripts/**
!include/**
!cmd/**
!README.md
!TODOs.md
!TODOs_EASE_OF_IMPLEMENTATION.md

# Module source files
!crypto/verify.c
!crypto/Makefile
!ipld/dag_cbor.c
!ipld/Makefile
!namesys/verify.c
!pubsub/ipns_pubsub.c
!pubsub/Makefile

# Test files
!test/crypto/test_crypto_verify.h
!test/ipld/test_dag_cbor.h
!test/namesys/test_namesys_verify.h
!test/pubsub/test_ipns_pubsub.h
!test/scripts/test_dag_cbor_vectors.py

*.o
.settings/language.settings.xml
test/test_ipfs
main/ipfs
test/test1.txt
test/test2.txt
test/scripts/hello.bin
test/scripts/hello2.bin
test/scripts/testlog.txt
test/scripts/generate_file
scripts/dag_cbor_encode
