*

!.gitignore
!.github/
!Makefile
!**/

!nostr/**
!rbsr/**
!scripts/**
!include/**
!cmd/**
!README.md
!TODOs.md
!TODOs_EASE_OF_IMPLEMENTATION.md

# Module source files
!crypto/verify.c
!crypto/verify_impl.c
!crypto/security.c
!crypto/Makefile
!ipld/dag_cbor.c
!ipld/Makefile
!namesys/verify.c
!namesys/namesys_resolve.c
!namesys/Makefile
!pubsub/ipns_pubsub.c
!pubsub/gossipsub.c
!pubsub/Makefile
!transport/Makefile
!transport/quic_transport.c
!transport/ws_transport.c
!include/ipfs/transport/*.h
!include/ipfs/exchange/bitswap/future.h
!exchange/bitswap/future.c
!exchange/bitswap/want_manager_impl.c
!exchange/bitswap/wantlist_queue_impl.c
!repo/fsrepo/lock.c
!cid/cid_v1.c
!importer/recursive.c
!importer/progress.c
!blocks/blockstore_shard.c
!core/net_interfaces.c
!core/multipart.c
!core/api_gzip.c
!core/http_dht.c
!core/http_query.c
!core/bootstrap_impl.c
!dnslink/dns_cache.c
!pin/pin_gc.c
!util/errs_impl.c
!datastore/key_impl.c
!merkledag/node_copy.c
!repo/config/config_impl.c

# Test files
!test/crypto/test_crypto_verify.h
!test/crypto/test_secp256k1_nostril.h
!test/crypto/test_security.h
!test/ipld/test_dag_cbor.h
!test/namesys/test_namesys_verify.h
!test/pubsub/test_ipns_pubsub.h
!test/scripts/test_dag_cbor_vectors.py
!test/cid/test_cid_v1.h
!test/exchange/test_bitswap_future.h
!test/pubsub/test_gossipsub.h
!test/transport/test_transport.h
!test/repo/test_repo_lock.h
!test/nostr/test_nostr_ipfs_kinds.h
!test/blocks/test_blockstore_shard.h
!test/dnslink/test_dns_cache.h

*.o
.settings/language.settings.xml
test/test_ipfs
main/ipfs
test/test1.txt
test/test2.txt
test/scripts/hello.bin
test/scripts/hello2.bin
test/scripts/testlog.txt
test/scripts/generate_file
scripts/dag_cbor_encode
