[submodule "c-libp2p"]
	path = c-libp2p
    url = git@github.com:RandyMcMillan/c-libp2p.git
[submodule "lmdb"]
	path = lmdb
	url = git@github.com:RandyMcMillan/lmdb.git
	branch = mdb.master
[submodule "nostril"]
	path = nostril
	url = git@github.com:RandyMcMillan/nostril.git
